.projects {
  padding: 128px 64px 0px;
}

.projects__list {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.projects__item {
  display: flex;
  gap: 32px;
}

.projects__info {
  display: flex;
  flex-direction: column;

  padding: 24px 32px;

  background-color: white;

  width: 31%;

  height: fit-content;
}

.projects__date {
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;

  letter-spacing: -0.02em;
}

.projects__text {
  padding-top: 39px;
  padding-bottom: 99px;

  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  /* or 58px */

  letter-spacing: -0.02em;
}

.projects__item img {
  width: 65%;
}

@media (max-width: 1024px) {
  .projects__date {
    font-size: 12px;
  }

  .projects__text {
    font-size: 24px;
  }

  .projects__item img {
    max-height: 266px;
  }

  .projects__list {
    gap: 64px;
  }
}

@media (max-width: 768px) {
  .projects {
    padding: 0 16px;
    margin-top: 115px;
  }
  .projects__list {
    margin-top: 32px;
  }
  .projects__item {
    flex-direction: column;
    gap: 0;
  }
  .projects__item img {
    max-height: 512px;
    max-width: 768px;
    width: 100%;
height: auto;
    order: -1;
  }
  .projects__info {
    padding: 16px;
    width: 100%;
    min-height: 122px;
  }
  .projects__text {
    min-height: 122px;
    height: 100%;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 30px;
  }
  .projects__date {
    font-size: 10px;
  }
  .button-more {
    font-size: 10px;
  }
}
