@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

html {
    font-family: "Lato", sans-serif;
    font-size: 100%;
    background: #f4f2ef;
    color: #1a1a1a;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 00;
    font-size: 24px;
    line-height: 28px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 0;

    min-width: 320px;
    max-width: 1440;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: rem(1px);
    height: rem(1px);
    margin: rem(-1px);
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}

.h2 {
    font-size: 24px;
    line-height: 120%;
}

.h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
}

.button-more {
    display: flex;

    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    text-decoration: underline;

    letter-spacing: -0.02em;

    border: none;
    background: none;
}
