.myBtn {
  display: flex;
  justify-content: center;
  max-width: 304px;
  width: 100%;
  height: 64px;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  align-items: center;
  color: black;
  background: transparent;
  border: 1px solid black;
  cursor: pointer;
  padding: 0;

  margin: 0 auto;
  margin-bottom: 118px;
}
.myBtn:hover {
  background-color: white;
  color: black;
}
@media (max-width: 1024px) {
  .myBtn {
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    max-width: 192px;
    height: 48px;
  }
}
@media (max-width: 768px) {
  .myBtn {
    max-width: 288px;
  }
}
