.myBtn {
    display: flex;

    font-weight: normal;
    font-size: 24px;
    line-height: 120%;

    padding: 20px 69px;
    color: white;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .myBtn {
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;

        padding: 12px 32px;
    }
}
