.about {
    padding: 0px 64px;
}

.about__top {
    padding: 80px 44px;
    display: flex;
    justify-content: space-between;
}

.about__item {
    display: flex;
    gap: 18px;
}

.about__item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about__item-number {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;

    z-index: 1;
}

.about__item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;

    z-index: 1;

    max-width: 180px;
}

.about__item {
    position: relative;
}

.about__item-wrapper::before {
    position: absolute;
    content: "";
    width: 192px;
    height: 192px;
    background-color: #a4bebb;
    border-radius: 50%;

    left: 73px;
    top: -25px;
}

.about__item svg {
    z-index: 1;
}

.about__mission {
    padding: 32px;
    background-color: white;

    margin-top: 26px;
}

.mission__text {
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;

    padding-top: 23px;
    padding-left: 80px;

    letter-spacing: -0.02em;
}

.about__footer {
    display: flex;
    /* flex-wrap: wrap; */
    
    gap: 32px;
    padding-top: 32px;
}

.about__block {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 636px;
    padding: 32px;

    width: 49%;
}

.about__text {
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;

    padding-top: 16px;
    padding-bottom: 40px;
    padding-left: 76px;
}

.about__block-list {
    display: flex;
    flex-direction: column;

    list-style: disc;

    padding-left: 108px;

    gap: 20px;

    font-weight: normal;
    font-size: 20px;
    line-height: 100%;

    letter-spacing: -0.02em;
}

@media (max-width: 1024px) {
    .about__footer {
       flex-direction: column;
        align-items: center;
    }
    .about__block {
        width: 100%;
        max-width: none;
    }
    .about__item-number {
        font-size: 32px;
    }

    .about__item-text {
        font-size: 14px;
    }

    .about__item svg {
        width: 48px;
        height: 48px;
    }

    .about__item-wrapper::before {
        width: 150px;
        height: 150px;

        left: 20px;
    }
    .h3 {
        font-size: 32px;
    }
    .about__text, .mission__text {
        font-size: 18px;
    }
    li {
        font-size: 18px;
    }

}

@media (max-width:768px) {
    /* .about__mission,
    .about__footer {
        display: none;
    } */
    .about__mission {
        margin-top: 84px;

     }
    .about__h2{
        display: none;
    }
    .about__top {
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        gap: 90px;
    }
    .about {
        padding: 0px 16px;
    }
    
}