.header {
    background-color: black;
    background-image: url(../../assets/img/Header_image.jpg);
    background-size: cover;
    background-position: center;

    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;

    letter-spacing: -0.02em;

    color: #ffffff;

    height: 100vh;
}

.header__wrapper {
    padding: 64px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    height: 100%;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 56px;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    line-height: 120%;

    letter-spacing: -0.02em;
}

.header__description {
    display: flex;
    margin-left: auto;
    padding-top: 16px;
    padding-bottom: 64px;

    max-width: 749px;
}

.button-up {
    display: block;
    background: transparent;

    border: none;

    margin: 0 auto;
}

@media (max-width: 1024px) {
    .header {
        font-size: 14px;


    }

    .header__logo {
        width: 111px;
        height: 33px;
    }

    h1 {
        font-size: 32px;
    }
}
