.header {
    background-color: black;
    background-image: url(../../assets/img/Header_image.jpg);
    background-size: cover;

    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    letter-spacing: -0.02em;

    color: #ffffff;
}

.header__wrapper {
    padding: 64px;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 56px;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    line-height: 120%;

    letter-spacing: -0.02em;

    padding-top: 200px;
}

.header__description {
    display: flex;
    margin-left: auto;
    padding-top: 16px;
    padding-bottom: 64px;

    max-width: 749px;
}

.button-up {
    display: block;
    background: transparent;
    border: none;
    margin: 0 auto;
    padding-top: 200px;
}
