.header {
  background-color: black;
  background-image: url(../../assets/img/Header_image.jpg);
  background-size: cover;
  background-position: center;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;

  letter-spacing: -0.02em;

  color: #ffffff;

  height: 100vh;
}
.menu__imag {
  display: none;
}
.header__wrapper {
  padding: 64px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  height: 100%;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 56px;
  font-size: 16px;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 120%;

  letter-spacing: -0.02em;
}

.header__description {
  display: flex;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 64px;

  max-width: 749px;
}

.button-up {
  display: block;
  background: transparent;
  border: none;
  margin: 0 auto;
}


/* МЕНЮ МОБИЛКИ */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__section {
  display: flex;
}
#menu__toggle:checked ~ .menu__burger {
  right: 100px;
  background: url("../../assets/img/cross.svg") no-repeat;
}
.menu__burger {
  background: url("../../assets/img/menu.svg") no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: fixed;
  z-index: 10;
  display: none;
  right: 16px;
}
.menu__section {
  position: fixed;
  top: 0;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background-color: #ffffff;
  width: 205px;
  margin-right: -16px;
  padding: 21px 26px 0px 16px;
  color: black;
}

.menu__close {
  margin-bottom: 32px;
  max-width: 16px;
  max-height: 16px;
  align-self: flex-end;
}
.menu__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 328px;
}
.menu__main__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__main__title {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.menu__main__title p{
  font-size: 16px;
  font-weight: 500;
}
.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:8px;
}
.menu__item {
  font-size: 14px;
  text-decoration: underline;
  border-bottom: 4px;
}

.span {
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: black;
  transition: 0.5s;
  margin-top: 20px;
  margin-left: 20px;
}


@media (max-width: 1024px) {
  .header {
    font-size: 14px;
  }

  .header__logo {
    width: 111px;
    height: 33px;
  }

  h1 {
    font-size: 32px;
  }
}
.header__empty_block {
  display: none;
}
@media (max-width: 768px) {
  .menu__burger {
    display: block;
  }
  .header__wrapper {
    padding: 16px;
  }
  .header__description {
    display: none;
  }
  h1 {
    font-size: 20px;
  }
  .header__main {
    display: flex;
    max-height: 251px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .header__empty_block {
    display: block;
    height: 80%;
  }
  .menu {
    display: none;
  }
  .menu__imag {
    display: block;
  }
}
