.partners {
    padding: 128px 64px;
}

.partners__list {
    display: flex;
    gap: 32px;
    overflow: hidden;

    padding-top: 59px;
}

.partners__item {
    display: flex;

    background-color: white;

    width: 256px;
    height: 128px;

    padding: 32px;

    gap: 14px;
}

.partners__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;

    letter-spacing: -0.02em;
}
